@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: [ "light", "dark"];
}

a.active {
  color: purple;
  border-bottom: 2px solid purple;
}

.font {
  font-family: "Lora", serif;
}
